<a href="https://colab.research.google.com/github/havihaviplants/Artbox/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EA%B3%BC%ED%95%99_%EA%B3%BC%EC%A0%9C_%EA%B0%95%EC%9D%98%EC%8B%9C%EA%B0%84%ED%91%9C_%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
col_names = ['과목번호', '과목명', '강의실', '시간 수']
list1 = list([['C1', '인공지능 개론', 'R1', 3],
              ['C2', '웃음치료', 'R2', 2],
              ['C3', '경영학', 'R3', 3],
              ['C4', '3D 디자인', 'R4', 4],
              ['C5', '스포츠경영', 'R2', 2],
              ['C6', '예술의 세계', 'R3', 1]
              ])

In [3]:
import pandas as pd

col_names = ['과목번호', '과목명', '강의실', '시간 수']
data = [['C1', '인공지능 개론', 'R1', 3],
        ['C2', '웃음치료', 'R2', 2],
        ['C3', '경영학', 'R3', 3],
        ['C4', '3D 디자인', 'R4', 4],
        ['C5', '스포츠경영', 'R2', 2],
        ['C6', '예술의 세계', 'R3', 1]
        ]

df = pd.DataFrame(data, columns=col_names)

In [15]:
import pandas as pd

col_names = ['과목번호', '과목명', '강의실', '시간 수']
data = [['C1', '인공지능 개론', 'R1', 3],
        ['C2', '웃음치료', 'R2', 2],
        ['C3', '경영학', 'R3', 3],
        ['C4', '3D 디자인', 'R4', 4],
        ['C5', '스포츠경영', 'R2', 2],
        ['C6', '예술의 세계', 'R3', 1]
        ]

# 데이터프레임 생성
df = pd.DataFrame(data, columns=col_names)

# '교수' 열 추가
professors = ['김예희', '오정현', '인세훈', '이새봄', '배유진', '이가원']
df['교수'] = professors

print(df)

  과목번호      과목명 강의실  시간 수   교수
0   C1  인공지능 개론  R1     3  김예희
1   C2     웃음치료  R2     2  오정현
2   C3      경영학  R3     3  인세훈
3   C4   3D 디자인  R4     4  이새봄
4   C5    스포츠경영  R2     2  배유진
5   C6   예술의 세계  R3     1  이가원

In [8]:
import pandas as pd

# 데이터프레임 생성
data = {
    '과목번호': ['C1', 'C2', 'C3', 'C4', 'C5', 'C6'],
    '과목명': ['인공지능 개론', '웃음치료', '경영학', '3D 디자인', '스포츠경영', '예술의 세계'],
    '강의실': ['R1', 'R2', 'R3', 'R4', 'R2', 'R3'],
    '시간 수': [3, 2, 3, 4, 2, 1],
    '교수': ['김예희', '오정현', '인세훈', '이새봄', '배유진', '이가원']
}

df = pd.DataFrame(data)

# 강의실을 기준으로 그룹화하고 시간 수를 합산
grouped_df = df.groupby('강의실')['시간 수'].sum()

# 출력
for room, time in grouped_df.items():
    print(f"{room} ({time}):")
    room_df = df[df['강의실'] == room]
    for index, row in room_df.iterrows():
        print(f" - {row['과목번호']}: {row['과목명']} ({row['시간 수']}) - {row['교수']}")
    print()

R1 (3):
 - C1: 인공지능 개론 (3) - 김예희

R2 (4):
 - C2: 웃음치료 (2) - 오정현
 - C5: 스포츠경영 (2) - 배유진

R3 (4):
 - C3: 경영학 (3) - 인세훈
 - C6: 예술의 세계 (1) - 이가원

R4 (4):
 - C4: 3D 디자인 (4) - 이새봄

In [20]:
import pandas as pd

col_names = ['과목번호', '과목명', '강의실', '시간 수']
data = [['C1', '인공지능 개론', 'R1', 3],
        ['C2', '웃음치료', 'R2', 2],
        ['C3', '경영학', 'R3', 3],
        ['C4', '3D 디자인', 'R4', 4],
        ['C5', '스포츠경영', 'R2', 2],
        ['C6', '예술의 세계', 'R3', 1]
        ]

# 데이터프레임 생성
df = pd.DataFrame(data, columns=col_names)

# '교수' 열 추가
professors = ['김예희', '오정현', '인세훈', '이새봄', '배유진', '이가원']
df['교수'] = professors

print(df)

grouped_df = df.groupby('강의실')['시간 수'].sum()
print(grouped_df)

  과목번호      과목명 강의실  시간 수   교수
0   C1  인공지능 개론  R1     3  김예희
1   C2     웃음치료  R2     2  오정현
2   C3      경영학  R3     3  인세훈
3   C4   3D 디자인  R4     4  이새봄
4   C5    스포츠경영  R2     2  배유진
5   C6   예술의 세계  R3     1  이가원
강의실
R1    3
R2    4
R3    4
R4    4
Name: 시간 수, dtype: int64

In [9]:
import pandas as pd

# 데이터프레임 생성
data = {
    '강의실': ['R1', 'R2', 'R3', 'R4'],
    '시간수': [3, 4, 4, 4]
}

df = pd.DataFrame(data)

# 출력
for index, row in df.iterrows():
    print(f"{row['강의실']} {row['시간수']}")

R1 3
R2 4
R3 4
R4 4

In [17]:
import pandas as pd

col_names = ['강의실', '시간 수']
data = [['R1', 3],
        ['R2', 2],
        ['R3', 3],
        ['R4', 4],
        ['R2', 2],
        ['R3', 1]
        ]

# 데이터프레임 생성
df = pd.DataFrame(data, columns=col_names)

# '교수' 열 추가
professors = ['김예희', '오정현', '인세훈', '이새봄', '배유진', '이가원']
df['교수'] = professors

# 데이터프레임 출력
print(df)

# 강의실을 기준으로 그룹화하여 시간 수 합계 구하기
grouped_df = df.groupby('강의실')['시간 수'].sum()

# 결과 출력
print(grouped_df)

  강의실  시간 수   교수
0  R1     3  김예희
1  R2     2  오정현
2  R3     3  인세훈
3  R4     4  이새봄
4  R2     2  배유진
5  R3     1  이가원
강의실
R1    3
R2    4
R3    4
R4    4
Name: 시간 수, dtype: int64

In [18]:
# 강의실을 기준으로 그룹화하여 시간 수 합계 구하기
grouped_df = df.groupby('강의실')['시간 수'].sum()

# 결과 출력
print(grouped_df.reset_index())

  강의실  시간 수
0  R1     3
1  R2     4
2  R3     4
3  R4     4

In [19]:
import pandas as pd #pandas 불러오기

col_names = ['과목번호', '과목명', '강의실', '시간 수'] #1번 요구사항 해결
data = [['C1', '인공지능 개론', 'R1', 3],
        ['C2', '웃음치료', 'R2', 2],
        ['C3', '경영학', 'R3', 3],
        ['C4', '3D 디자인', 'R4', 4],
        ['C5', '스포츠경영', 'R2', 2],
        ['C6', '예술의 세계', 'R3', 1]
        ]

# 데이터프레임 생성, 2번 요구사항 해결
df = pd.DataFrame(data, columns=col_names)

# '교수' 열 추가, 3번 요구사항 해결
professors = ['김예희', '오정현', '인세훈', '이새봄', '배유진', '이가원']
df['교수'] = professors

# 강의실을 기준으로 그룹화하여 시간 수 합계 구하기, 4번 요구사항 해결
grouped_df = df.groupby('강의실')['시간 수'].sum()

# 결과 출력
print(grouped_df.reset_index())

  강의실  시간 수
0  R1     3
1  R2     4
2  R3     4
3  R4     4